[user]
    name = Quinn
    email = theo-weber-99@users.noreply.github.com
[core]
    editor = vim
    autocrlf = input
[pull]
    rebase = true
[alias]
    st = status
    co = checkout
    ci = commit
